# Node.js dependencies
node_modules/
dist/
.env
.env.local
.env.*.local

# IDE configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite cache
.vite/

# Netlify local configuration
.netlify/

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Keys & Secrets
MonCashConnect KEYS.txt

# Fly.io machine files
oid.txt
pid.txt
token2.txt

# Uploaded images (local dev)
uploads/
